.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/blurry-gradient-haikei-2.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero_content h2 {
    font-size: 14rem;
    font-weight: 700;
    color: var(--gray-color-100);
    line-height: 11rem;

}

.hero_content p {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--white-color);
}

.content_links {
    display: flex;
    gap: 1rem;
    color: var(--gray-color-100);
}
.content_links svg {
    color: var(--gray-color-100);
}

.content_links svg:hover {
    color: var(--quintennary-color);
    transition: 0.3s;
}

