.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content h2 {
    font-size: 14rem;
    font-weight: 700;
}

.hero_content p {
    font-size: 2rem;
}