.navbar {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
}

.nav ul {
    display: flex;
    gap: 2rem;
    justify-content: end;
}

.nav ul li {
    font-size: 1.6rem;
    list-style: none;
    color: var(--gray-color-100);
}

.nav ul li:hover {
    color: var( --quintennary-color);
    cursor: pointer;
    transition: 0.3s;
}